body {
    background-color: #131212;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calculator {
    background-color: #5a5a5a;
    border: 1rem solid #5a5a5a;
    border-radius: 50px;
    padding: 10px;
}

.display {
    text-align: right;
    border: .2rem solid #5a5a5a;
    border-radius: 20px;
    background-color:#ecf0f3;
    padding: 10px;
    max-height: 50px;
    max-width: 187px;
    font-size: 2.5rem;
    color: black;
}

.clear {
    background-color: #9fd8cc
}

input[type="button"] {
    margin: .4rem;
    width: 55px;
    height: 55px;
    font-size: 2.5rem;
    box-shadow: 2px 1px #858585;
}